@model MinecraftWrapper.Models.NewsItem

@{
    ViewData[ "Title" ] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>NewsItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateActive" class="control-label"></label>
                <input asp-for="DateActive" class="form-control" />
                <span asp-validation-for="DateActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateExpires" class="control-label"></label>
                <input asp-for="DateExpires" class="form-control" />
                <span asp-validation-for="DateExpires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HtmlContent" class="control-label"></label>
                @*<input asp-for="HtmlContent" class="form-control" />*@
                <textarea asp-for="HtmlContent" id="summernote"></textarea>
                <span asp-validation-for="HtmlContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
    </script>
}