@page
@model IndexModel
@{
}
<h1>Password Policy FAQs</h1>

<h4 class="">
    Why does your site enforce a maximum password length, doesn't that mean you are storing my password improperly?
</h4>
<div>
    I'm glad you asked! This site stores passwords using modern hashing and salting methods, so your password actually being stored properly. 
    While maximum password lengths <i>can</i> be a symptom of improper storage, in this case it is just an efficiency thing here. This site 
    runs on a small personal server, and there's no reason for me to crunch a 40kb password into a hash. Rather than clipping any passwords you
    enter off at 128 characters, I'd rather just be upfront about what I'm doing.
</div>