@page
@model IndexModel
@{
}
<h1>Password Policy</h1>

<div>
    This site stores passwords using modern hashing and salting methods, so your password is not actually stored on my servers, encrypted or otherwise. 
    While maximum password lengths <i>can</i> be a symptom of improper storage, in this case it is just for effeciency. This site 
    runs on a small personal server, and there's no reason to crunch a 40kb password into a hash. Rather than clipping any passwords you
    enter off at 128 characters, I'd rather just be upfront about what the software is doing.
</div>