@using Microsoft.AspNetCore.Identity

@inject SignInManager<AuthorizedUser> SignInManager
@inject UserManager<AuthorizedUser> UserManager


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@SystemConstants.APPLICATION_NAME</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                @if ( SignInManager.IsSignedIn ( User ) )
                {
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Utilities
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-area="" asp-controller="UserActions" asp-action="UpdateTickingArea">Ticking Area</a>
                        </li>
                    </ul>
                </li>
                }
                <li><a asp-area="" asp-controller="Home" asp-action="CommunityGuidelines">Community Guidelines</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>