@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@Options.Value.ApplicationTitle</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                @if ( SignInManager.IsSignedIn ( User ) && ( Options.Value.StoreEnabled || ViewContext.HttpContext.User.IsInRole ( "Admin" ) || ViewContext.HttpContext.User.IsInRole ( "Moderator" ) ) )
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Utilities
                        </a>
                        <ul class="dropdown-menu">
                            @if ( ViewContext.HttpContext.User.IsInRole ( "Admin" ) || ViewContext.HttpContext.User.IsInRole ( "Moderator" ) )
                            {
                            <li>
                                <a asp-area="" asp-controller="UserActions" asp-action="ManageUsers">Manage Users</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="UserActions" asp-action="Console">Console</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="McFiles" asp-action="Index">Backups</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="McFiles" asp-action="UploadFile">Upload File</a>
                            </li>
                            }
                            @if ( ViewContext.HttpContext.User.IsInRole ( "Admin" ) )
                            {
                            <li>
                                <a asp-area="" asp-controller="News" asp-action="Index">Manage News Articles</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="ScheduledTasks" asp-action="Index">Scheduled Tasks</a>
                            </li>
                                if ( Options.Value.StoreEnabled )
                                {
                            <li>
                                <a asp-area="" asp-controller="Store" asp-action="EditIndex">Edit Store</a>
                            </li>
                                }
                            }
                            @if ( Options.Value.StoreEnabled )
                            {
                            <li>
                                <a asp-area="" asp-controller="Store" asp-action="GiftCurrency">Send @Options.Value.MinecraftCurrencyName</a>
                            </li>
                            }
                        </ul>
                    </li>
                    if ( Options.Value.StoreEnabled )
                    {
                        <li>
                            <a asp-area="" asp-controller="Store" asp-action="Index">Store</a>
                        </li>
                    }
                }
                @foreach ( var linkData in Options.Value.StaticMenuLinks )
                {
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Static" asp-route-pageName="@linkData.FileName">@linkData.Display</a>
                    </li>
                }
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>