
@{
    ViewData[ "Title" ] = "Community Guidelines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Community Guidelines</h2>
        <p>
            The "rules" for this server are pretty simple and straightforward, but it all boils down to one principle: have fun without ruining somebody else's.
            Here are a few "dos" and "don'ts" to help illustrate:
        </p>
        <h4>Do</h4>
        <ul>
            <li>Mark out areas that you intend to build in</li>
            <li>Talk to nearby players about themes and plans before building in a new area</li>
            <li>Ask before modifying another player's build</li>
            <li>Add your gamertag and bio to your profile
                <ul>
                    <li>A gamertag is required to use the tickingarea utility</li>
                    <li>The "Bio" section is a great place to let other players know how you want to play on the server!</li>
                </ul>
            </li>
        </ul>
        <h4>Don't</h4>
        <ul>
            <li>Alter other player's builds (or dramatically alter terrain near them) without permission</li>
            <li>Steal items from other players</li>
            <li>Maliciously kill other players (duals, mini games, challenges are fine)</li>
            <li>Use item duplication glitches (e.g. the piston-chest glitch)</li>
        </ul>
        <h4>Bannable Offenses</h4>
        <p>
            These offenses are considered particularly egregious because of their capacity to ruin the game for others. Anyone caught doing one or more of these
            will be banned from the server, either temporarily or permanently based on the situation.
        </p>
        <ul>
            <li>Purposefully greifing another player - pranks usually will not fall under this category, unless a player has made it clear that they do not want to participate in pranks</li>
            <li>Harassing another player</li>
        </ul>
        <h4>How to Submit a Complaint</h4>
        <p>
            All complaints should be submitted in writing to @SystemConstants.CONTACT_US_EMAIL_ADDRESS. If possible please try to include screenshots or video evidence of the misconduct.
        </p>
        <p>
            Within reason, please try to work out problems with other players before submitting a formal complaint (e.g. talk to a player that has pranked you if you do not wish to be pranked,
            <b>DO NOT</b> confront a player about harassment unless you feel safe doing so).
        </p>
    </div>
</div>