@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<div>
    If you encounter any technical issues, please email <a href="mailto:mcadmin@greenlaw.software">mcadmin@greenlaw.software</a><br />
</div>
