@model HomeIndexViewModel

@{
    ViewData[ "Title" ] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Roster</h2>
        </div>
    </div>
    <div class="row">
        @foreach ( var user in Model.Users )
        {
            @if ( !string.IsNullOrEmpty ( user?.AdditionalUserData?.GamerTag ) )
            {
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@user.AdditionalUserData.GamerTag</h3>
                        </div>
                        <div class="panel-body">
                            @user.AdditionalUserData.Bio
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
