@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-10">
        Welcome!
    </div>
</div>

<hr/>

<h4>See what's going on!</h4>
<div class="row">
    <div hidden class="console-output"></div>
</div>

@section Scripts 
{ 
    <script type="text/javascript">
        window.setInterval(function () {
                var serviceURL = '/Home/FetchConsoleOutput';

                $.ajax({
                    type: "GET",
                    url: serviceURL,
                    data: param = "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFunc,
                    error: errorFunc
                });

            function successFunc(data, status) {
                    $('div.console-output').show()
                    val = String(data).split(',').join('\r\n');
                    $('div.console-output').text(val);
                }

                function errorFunc() {
                    $('div.console-output').text("Oh oh! Something's not right here!");
                }
            }, 3000);
    </script>
}