@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    Any personal information that you provide is strictly confidential and will never be shared with third parties. No one assossiated with this website will 
    ever ask your for personally identifying information, such as your real name, date of birth, or social security number. We also will never ask you to provide 
    your password. Any optional information that you provide, such as a profile bio or Xbox Live gamertag will be displayed publicly as part of our user roster.
</p>