@model MinecraftWrapper.Models.SendGiftViewModel

@{
    ViewData["Title"] = "GiftCurrency";
}

<h2>Send Gift</h2>

<h4>You can send up to: @Model.CurrentGiftCurrency</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendGift">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GamerTag" class="control-label"></label>
                <input asp-for="GamerTag" class="form-control" readonly="readonly"/>
                <span asp-validation-for="GamerTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
