
@{
    ViewData[ "Title" ] = "Console";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Console</h2>

<div class="row">
    <div hidden class="console-output"></div>
    <div class="console-input-wrapper">
        <div class="input-group">
            <input type="text" class="form-control console-input" />
            <span class="input-group-btn">
                <button onclick="sendData()" class="btn btn-default console-button" type="button">Send</button>
            </span>
        </div>
    </div>
</div>

@*<div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>*@

@section Scripts
    {
    <script type="text/javascript">
        window.setInterval(function () {
            var serviceURL = '/Home/FetchConsoleOutput';

            $.ajax({
                type: "GET",
                url: serviceURL,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                $('div.console-output').show()
                val = String(data).split(',').join('<br/>');
                $('div.console-output').html(val);

                updateScroll();
            }

            function errorFunc() {
                $('div.console-output').text("Oh oh! Something's not right here!");
            }
        }, 1000);
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Modified from https://stackoverflow.com/questions/16011312/execute-function-on-enter-key
            var input = $("input.console-input");
            input.on("keydown", function (e) {
                if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
                    sendData(e);
                }
            });
        });

        function sendData() {
            var inputURL = '/UserActions/SendConsoleInput';
            var inputText = $("input.console-input").val();

            $.ajax({
                type: "POST",
                url: inputURL,
                data: JSON.stringify(inputText),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                // Wait for update, I guess... I'm lazy
                $("input.console-input").val("");
            }

            function errorFunc() {
                $('div.console-output').text("Oh oh! Something's not right here!");
            }
        }
        
        // Modified from https://stackoverflow.com/questions/18614301/keep-overflow-div-scrolled-to-bottom-unless-user-scrolls-up
        function updateScroll() {
            var element = $("console-output");
            element.scrollTop = element.scrollHeight;
        }
    </script>
}